* {
	margin: 0px;
	padding: 0px;
}

#homeworks{
	background-color: #ff8080;
	width: 1000px;
	height: 500px;
	margin:50px auto;
}


/*Loader one  o o o */
.loader_one {
	width: 15px;
	height: 15px;
	left:25%;
	top: 25%;
	background-color:#f2f2f2;
	border-radius: 12px;
	position:relative;

		-moz-transform-origin:	50% 50%;
		-webkit-transform-origin: 50% 50%;
		-o-transform-orgin : 50% 50%;
		-ms-transform-orgin:50% 50%;
	transform-orgin : 50% 50%;

		-moz-animadion:loader_one 1s linear infinite;
		-webkit-animation:loader_one 1s linear infinite;
		-ms-animation: loader_one 1s linear infinite;
		-o-animation:loader_one 1s linear infinite;
	animation:loader_one 1s ease-out  infinite;
}		

.loader_one:before{
	content: "";
	position: absolute;
	background-color:rgba(255, 255, 255,.5);
	top: 0px;
	left: -25px;
	height: 15px;
	width: 15px;
	border-radius: 12px;
}

.loader_one:after{
	content: "";
	position: absolute;
	background-color:rgba(255, 255, 255,.5) ;
	top: 0px;
	left: 25px;
	height: 15px;
	width: 15px;
	border-radius: 12px;
}

@keyframes loader_one{
	0% {
		transform:rotate(0deg);
	}

	50% {
		transform:rotate(180deg);
	}

	100% {

		transform:rotate(180deg);
	}
}

-o-@keyframes loader_one{
	0% {
		transform:rotate(0deg);
	}

	50% {
		transform:rotate(180deg);
	}

	100% {

		transform:rotate(180deg);
	}
}

-moz-@keyframes loader_one{
	0% {
		transform:rotate(0deg);
	}

	50% {
		transform:rotate(180deg);
	}

	100% {

		transform:rotate(180deg);
	}
}

-webkit-@keyframes loader_one{
	0% {
		transform:rotate(0deg);
	}

	50% {
		transform:rotate(180deg);
	}

	100% {

		transform:rotate(180deg);
	}
}
-ms-@keyframes loader_one{
	0% {
		transform:rotate(0deg);
	}

	50% {
		transform:rotate(180deg);
	}

	100% {

		transform:rotate(180deg);
	}
}


/*loader two |||||oading */

.loader_two{
	
	width:150px;
	height:25px;
	left: 60%;
	top:25%;
	position: relative;
	background-color: rgba(255,255,255,0.05);
	text-align: center;
	border-radius: 10px;
}

.loader_two:before{
	content: "";
	position: absolute;
	background-color:rgb(255, 255, 255);
	top: 0px;
	left: 0px;
	height: 25px;
	width: 0px;
	opacity: 1;
	border-radius: 10px;
	
		-o-transform-origin:	100% 0%;
		-ms-transform-origin:	100% 0%;
		-webkit-transform-origin:	100% 0%;
		-moz-transform-origin:	100% 0%;

	transform-origin:	100% 0%;


	
		-o-animation: loader_two 20s ease-in infinite;
		-ms-animation: loader_two 20s ease-in infinite;
		-webkit-animation: loader_two 20s ease-in infinite;
		-moz-animation: loader_two 20s ease-in infinite;

	animation: loader_two 15s ease-in infinite;
}

.loader_two:after{
	content: "LOADING....";
	padding-top: 5px;
	color: rgb(255, 255, 255);
	font-family:sans-serif; ;
	font-size: 15px;
	position: absolute;
	width: 100%;
	height: 25px;
	left: 0;
	top: 0;
}




			@-o-keyframes loader_two{
					0%{width: 0px;}
					70%{width: 100%; opacity: 1;}
					90%{opacity: 0; width: 100%;}
					100%{opacity: 0;width: 0px;}
			}

			@-ms-keyframes loader_two{
					0%{width: 0px;}
					70%{width: 100%; opacity: 1;}
					90%{opacity: 0; width: 100%;}
					100%{opacity: 0;width: 0px;}
			}

			@-webkit-keyframes loader_two{
					0%{width: 0px;}
					70%{width: 100%; opacity: 1;}
					90%{opacity: 0; width: 100%;}
					100%{opacity: 0;width: 0px;}
			}

			@-moz-keyframes loader_two{
					0%{width: px;}
					70%{width: 100%; opacity: 1;}
					90%{opacity: 0; width: 100%;}
					100%{opacity: 0;width: 0px;}
			}
@keyframes loader_two{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
	}


/*loader third |||| loading */

.loader_third{
	position: relative;
	width: 150px;
	height: 20px;
	left: 20%;
	top:60%;
}

.loader_third:after{
	content: "LOADING...";
	text-align: center;
	color: rgb(255,255,255);
	font-family:sans-serif; 
	font-size: 16px;
	position: absolute;
	width: 100%;
	height: 19px;
	line-height: 19px;
	left: 0;
	top: 0;
	background-color:  #ff8080;
}

.loader_third:before{
	content: "";
	position: absolute;
	background-color: rgb(255,255,255);
	top: -5px;
	left: 0px;
	height: 29px;
	width: 0px;
	opacity: 1;


		-o-transform-origin:	100% 0%;
		-ms-transform-origin:	100% 0%;
		-webkit-transform-origin:	100% 0%;
		-moz-transform-origin:	100% 0%;
	transform-origin:	100% 0%;



		-o-animation: loader_third 10s linear infinite;
		-ms-animation: loader_third 10s linear infinite;
		-webkit-animation: loader_third 10s linear infinite;
		-moz-animation: loader_third 10s linear infinite;
   animation: loader_third 10s linear infinite;

}


			@-o-keyframes loader_third{
					0%{width: 0px;}
					70%{width: 100%; opacity: 1;}
					90%{opacity: 0; width: 100%;}
					100%{opacity: 0;width: 0px;}
			}

			@-ms-keyframes loader_third{
					0%{width: 0px;}
					70%{width: 100%; opacity: 1;}
					90%{opacity: 0; width: 100%;}
					100%{opacity: 0;width: 0px;}
			}

			@-webkit-keyframes loader_third{
					0%{width: 0px;}
					70%{width: 100%; opacity: 1;}
					90%{opacity: 0; width: 100%;}
					100%{opacity: 0;width: 0px;}
			}

			@-moz-keyframes loader_third{
					0%{width: 0px;}
					70%{width: 100%; opacity: 1;}
					90%{opacity: 0; width: 100%;}
					100%{opacity: 0;width: 0px;}

			}
		@keyframes loader_third{
		0%{width: 0px;}
		70%{width: 100%; opacity: 1;}
		90%{opacity: 0; width: 100%;}
		100%{opacity: 0;width: 0px;}
}

/*cube loder*/
.cube {

	width: 50px;
	height: 50px;
	background: rgba(255,255,255,.05);
	position:relative;
	left:65%;
	top:55%;
}

.cube:before {
    content: "";
	width: 50px;
    height: 50px;
    position:absolute;
    top: 0;
    left: 0;
    background:#f2f2f2;
   

    	-moz-animation: cube 3s normal infinite;
    	-ms- animation: cube 3s normal infinite;
    	-o- animation: cube	 3s normal infinite;
    animation: cube	 5s normal infinite;
  }	
  

@keyframes cube {
 0%{width: 0px;}
70%{width: 100%; opacity: 1;}
90%{opacity: 0; width: 100%;}
100%{opacity: 0;width: 0px;}
}

.ball{
	width: 10px;
	height: 10px;
	border-radius: 15px;
	background-color:#f2f2f2;
	position: relative;

	 animation: ball 2s linear infinite ;
}

@keyframes ball{
    0%   {top: -10px; left: -10px; }
    25%  {top: -10px; left: 50px; }
    50%  {top:50px; left: 50px; }
    75%  {top: 50px; left: -10px; }
    100% {top: -10px; left: -10px; }
}
}



